*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

header, .footer__logo, .restaurant-menu-container__title {
  font-family: "Shrikhand", cursive;
}

body {
  font-family: "Roboto", sans-serif;
}

.location__input {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #464646;
  font-size: 16px;
}
.location__icon {
  font-size: 16px;
  color: #464646;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.explore__descr {
  font-weight: 300;
}

.instructions-step {
  font-weight: 500;
}

.btn {
  width: 210px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 0px 10px 20px -8px #8C8C8C;
  cursor: pointer;
}
.btn--margin {
  margin: 20px 0;
}
.btn--size {
  width: 180px;
}
.btn:hover {
  background: linear-gradient(#ff88de, #9b63df);
  box-shadow: 0px 10px 15px -5px #8C8C8C;
}

.start-color {
  color: #FF79DA;
}

.stop-color {
  color: #9356DC;
}

#grad1, #grad2 {
  --color-start: #FF79DA;
  --color-stop: #9356DC;
}

header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  box-shadow: 0 0 3px 0 #8C8C8C;
  z-index: 1;
}

h1 {
  margin: 0 auto;
}

.header__icon {
  position: relative;
  left: 5%;
}

.header__icon:visited {
  color: black;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  background: #464646;
  color: white;
  padding-left: 20px;
}
.footer__logo {
  width: 92%;
  padding: 20px 0;
}
@media screen and (max-width: 480px) {
  .footer__logo {
    width: 100%;
  }
}
.footer p {
  width: 92%;
}
@media screen and (max-width: 480px) {
  .footer p {
    width: 100%;
  }
}
.footer__link {
  display: block;
  padding: 5px 0;
  color: white;
  text-decoration: none;
}
.footer__icon {
  margin-right: 5px;
}

main {
  position: relative;
  background: #F6F6F6;
}
@media screen and (max-width: 480px) {
  main {
    background-color: transparent;
  }
}

.restaurant-menu-img {
  width: 100%;
  position: relative;
  height: 250px;
  background: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .restaurant-menu-img {
    width: 100%;
  }
}

.restaurant-menu-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
  margin-top: -30px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  background: #F6F6F6;
  padding: 40px 0;
}
@media screen and (max-width: 480px) {
  .restaurant-menu-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-menu-container {
    width: 80%;
  }
}
.restaurant-menu-container__title {
  width: 100%;
}
.restaurant-menu-container__like {
  padding-top: 22px;
}
.restaurant-menu-container__icon {
  align-self: center;
  font-size: 20px;
}

.restaurant-menu-header {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.restaurant-menu {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.restaurant-menu__dishtitle {
  width: 90%;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: -1px;
}
.restaurant-menu__dishtitle:after {
  content: "";
  display: block;
  width: 15%;
  border-bottom: 3px solid #99E2D0;
  padding-top: 5px;
}
.restaurant-menu__entree, .restaurant-menu__main, .restaurant-menu__dessert {
  width: 100%;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 10px 20px -15px #8C8C8C;
  padding: 10px;
  padding-left: 12px;
  opacity: 0;
}
.restaurant-menu__entree h3, .restaurant-menu__main h3, .restaurant-menu__dessert h3 {
  width: 90%;
  font-weight: 500;
  padding-top: 2px;
  padding-bottom: 5px;
}
.restaurant-menu__recipe {
  display: inline-block;
  font-weight: 100;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant-menu__price {
  display: block;
  font-size: 14px;
  float: right;
}
.restaurant-menu-take {
  width: 2%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  opacity: 0;
  background: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.restaurant-menu__entree {
  animation: dishAnim 500ms forwards;
  animation-timing-function: ease;
}
.restaurant-menu__main {
  animation: dishAnim 500ms 500ms forwards;
  animation-timing-function: ease;
}
.restaurant-menu__dessert {
  animation: dishAnim 500ms 1000ms forwards;
  animation-timing-function: ease-in;
}
.restaurant-menu-entree-container {
  cursor: pointer;
}
.restaurant-menu-entree-container:active + .restaurant-menu-take {
  animation: takeDish 500ms forwards;
}
.restaurant-menu-entree-container:active + .restaurant-menu-take > .fa-check-circle {
  display: block;
  animation: spinIcon 500ms forwards;
  -webkit-animation: spinIcon 500ms forwards;
}
.restaurant-menu-entree-container:not(:active) + .restaurant-menu-take {
  animation: removeDish 500ms forwards;
}
.restaurant-menu-entree-container:active > .restaurant-menu__price {
  animation: movePrice 500ms forwards;
}
.restaurant-menu-entree-container:not(:active) > .restaurant-menu__price {
  animation: basePrice 500ms forwards;
}
.restaurant-menu-entree-container:active > .restaurant-menu__recipe {
  animation: changeWidth 500ms forwards;
}

@keyframes dishAnim {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    transform: translateY(30%);
    opacity: 0.5;
  }
  70% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 480px) {
  @keyframes takeDish {
    0% {
      width: 2%;
      opacity: 1;
    }
    100% {
      width: 15%;
      opacity: 1;
    }
  }
  @keyframes removeDish {
    0% {
      width: 15%;
      opacity: 1;
    }
    100% {
      width: 2%;
      opacity: 0;
    }
  }
  @keyframes spinIcon {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes movePrice {
    100% {
      transform: translateX(-50px);
    }
  }
  @keyframes basePrice {
    0% {
      transform: translateX(-25px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes changeWidth {
    0% {
      width: 240px;
    }
    100% {
      width: 220px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  @keyframes takeDish {
    0% {
      width: 2%;
      opacity: 1;
    }
    100% {
      width: 10%;
      opacity: 1;
    }
  }
  @keyframes removeDish {
    0% {
      width: 10%;
      opacity: 1;
    }
    100% {
      width: 2%;
      opacity: 0;
    }
  }
  @keyframes spinIcon {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes movePrice {
    100% {
      transform: translateX(-50px);
    }
  }
  @keyframes basePrice {
    0% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
@media screen and (min-width: 1281px), (min-width: 1025px) and (min-width: 1280px) {
  @keyframes takeDish {
    0% {
      width: 2%;
      opacity: 1;
    }
    100% {
      width: 10%;
      opacity: 1;
    }
  }
  @keyframes removeDish {
    0% {
      width: 10%;
      opacity: 1;
    }
    100% {
      width: 2%;
      opacity: 0;
    }
  }
  @keyframes spinIcon {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes movePrice {
    100% {
      transform: translateX(-100px);
    }
  }
  @keyframes basePrice {
    0% {
      transform: translateX(-120px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
@media screen and (min-width: 1920px) {
  @keyframes takeDish {
    0% {
      width: 2%;
      opacity: 1;
    }
    100% {
      width: 4%;
      opacity: 1;
    }
  }
  @keyframes removeDish {
    0% {
      width: 4%;
      opacity: 1;
    }
    100% {
      width: 2%;
      opacity: 0;
    }
  }
  @keyframes movePrice {
    100% {
      transform: translateX(-80px);
    }
  }
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  animation: removeSpinner 2s forwards 3s;
  background: #EAEAEA;
  opacity: 1;
}

.loader,
.loader::before,
.loader::after {
  border-radius: 50%;
}

.loader {
  color: #000;
  font-size: 11px;
  text-indent: -99999em;
  margin: 0 auto;
  position: relative;
  top: 50%;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 1;
  animation: removeSpinner 2s forwards 3s;
}

.loader:before,
.loader:after {
  position: absolute;
  content: "";
}

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #EAEAEA;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s forwards ease 1.5s;
  animation: load2 2s forwards ease 1.5s;
}

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #EAEAEA;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s forwards ease;
  animation: load2 2s forwards ease;
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    display: none;
    height: 0;
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    display: none;
    height: 0;
  }
}
@keyframes removeSpinner {
  0% {
    height: 0px;
  }
  100% {
    background: transparent;
    opacity: 0;
    height: 0px;
  }
}
.location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
}
.location__input {
  width: auto;
  border: none;
  background: transparent;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .location__input {
    width: 110px;
  }
}
@media screen and (max-width: 480px) {
  .location__icon {
    position: relative;
    right: 7.5%;
  }
}

.explore {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0 30px 30px 30px;
  padding-top: 30px;
  text-align: center;
  background: #F6F6F6;
}
@media screen and (max-width: 480px) {
  .explore__title {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .explore__descr {
    margin-bottom: 15px;
  }
}

.instructions {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: white;
  padding-top: 30px;
}
.instructions__title {
  width: 90%;
}
.instructions-step {
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 20px;
  background: #F6F6F6;
  margin-left: 10px;
  box-shadow: 0px 10px 20px -15px #8C8C8C;
}
.instructions-step__number {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 10px;
  border-radius: 50%;
  background: #9356DC;
  color: white;
  font-size: 14px;
}
.instructions-step__icon {
  margin-left: 15px;
  color: gray;
}
.instructions-step__text {
  width: 60%;
  margin-left: 30px;
}
.instructions-step:active .instructions-step__icon {
  color: #9356DC;
}
.instructions-step:active {
  background: #f2eafb !important;
}

.restaurants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  background: #F6F6F6;
  padding-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .restaurants {
    height: 1220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
  }
}
.restaurants__title {
  width: 90%;
}
.restaurants-tab {
  flex-basis: 33.333333%;
  height: 250px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 10px 20px -15px #8C8C8C;
}
@media screen and (max-width: 480px) {
  .restaurants-tab {
    flex-basis: 0;
    width: 90%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurants-tab {
    width: 90%;
    flex-basis: 44%;
  }
}
.restaurants-tab a {
  color: black;
  text-decoration: none;
}
.restaurants-tab__img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.restaurants-tab-img-container {
  position: relative;
}
.restaurants-tab-img-container__new {
  width: 85px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  background: #99E2D0;
  color: #278870;
  border-radius: 3px;
  box-shadow: 0px 10px 20px -10px #8C8C8C;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
}
.restaurants-tab-descr {
  font-size: 12px;
  padding: 15px;
}
.restaurants-tab-descr p {
  font-size: 16px;
  padding-top: 5px;
  font-weight: 300;
  display: inline-block;
}
.restaurants-tab-descr__icon {
  position: relative;
  bottom: 10px;
  float: right;
  width: 23px;
  stroke: black;
  stroke-width: 1.5;
  overflow: visible;
}

path#grad1 {
  transition: 0.4s;
}

svg {
  position: relative;
  bottom: 15px;
  right: 15px;
  float: right;
  width: 20px;
  max-height: 80px;
  overflow: visible;
}

svg .gradient1 {
  fill: transparent;
  stroke: black;
  stroke-width: 1.5;
}

svg .gradient2 {
  fill: url("#grad2");
  stroke: url("#grad2");
  stroke-width: 1.5;
}

svg use {
  transition: 0.4s;
  opacity: 0;
}

svg:active use {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
