.footer {
    height: 200px;
    background: $location-typo;
    color: white;
    padding-left: 20px;
    &__logo {
        padding: 20px 0;
    }
    &__link {
        display: block;
        padding: 5px 0;
        color: white;
        text-decoration: none;
    }
    &__icon {
        margin-right: 5px;
    }
}