header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px;
    @include box-shadow(0, 0, 3px, 0);
    z-index: 1;
}

h1 {
    margin: 0 auto;
}

.header__icon {
    position: relative;
    left: 5%;
}

.header__icon:visited {
    color: black;
}