header, .footer__logo, .restaurant-menu-container__title {
    font-family: 'Shrikhand', cursive;
}

body {
    font-family: 'Roboto', sans-serif;
}

.location {
    &__input {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: $location-typo;
        font-size: 16px;
    }
    &__icon {
        font-size: 16px;
        color: $location-typo;
    }
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.explore {
    &__descr {
        font-weight: 300;
    }
}

.instructions-step {
    font-weight: 500;
}