header {
    font-family: 'Shrikhand', cursive;
}

.location {
    font-family: 'Roboto', sans-serif;
    &__input {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: $location-typo;
        font-size: 15px;
    }
    &__icon {
        font-size: 18px;
        color: $location-typo;
    }
}