$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$location-background: #EAEAEA;
$location-typo: #464646;
$secondary-background: #F6F6F6;

$shadow: #8C8C8C;

$breakpoints: (
    mobile-portrait: 480px,
    min-tablets-portrait: 768px,
    max-tablets-portrait: 1024px,
    min-desktop: 1281px,
    min-laptop: 1025px,
    max-laptop: 1280px
);